.main-container {
    float: left;
    position: relative;
    left: 50%;
    padding-bottom: 50px;
  }
  .fixer-container {
    float: left;
    position: relative;
    left: -50%;
  }
  .a {
    display: none;
  }